<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=.\SQLEXPRESS;uid=ProductPerformanceU;pwd=&quot;C9_sP;)iI#b]&quot;;Database=ProductPerformance" name="ProductPerformance" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
